@using PagedList.Mvc;
@model PagedList.IPagedList<Modelos.DTO.DTOReservaAlumno>

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}
<h2>Students List By Course</h2>
<p>
    @Html.ActionLink("New", "NuevaReserva")
</p>
@using (Html.BeginForm("Index", "ReservasAlumnos", FormMethod.Get))
{

<div class="form-group row">
    @*<div class="col-md-offset-5 col-md-7">*@
    Course Name:&nbsp;&nbsp; @Html.TextBox("filtro", ViewBag.FiltroActual as String, new { @class = "form-control col-sm-4" })&nbsp;&nbsp;
    <input type="submit" value="Search" class="btn btn-dark col-sm-1" style="background-color:#2C1E4E" />
    @*</div>*@
    <br />
</div>

}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { ordenamiento = ViewBag.NombreOrdenamiento, filtroActual = ViewBag.FiltroActual })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().dtoAlumno.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().dtoAlumno.NombreAlumno)
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.ReservaId)
                @Html.DisplayFor(modelItem => item.dtoCurso.NombreCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtoAlumno.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtoAlumno.NombreAlumno)
            </td>
            <td>
                @Html.ActionLink("Details", "NuevaReserva", new { CursoId = item.dtoCurso.CursoId, AlumnoId = item.dtoAlumno.AlumnoId }) 
            </td>
        </tr>
    }
</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, ordenamiento = ViewBag.OrdenamientoActual, filtroActual = ViewBag.FiltroActual }))

